.question {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.answer {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.my-form {
    justify-content: space-between;
}