{% extends 'inc/base.html' %}

{% block content %}

<div class="d-flex">
    <div class="col-2 align-items-center">
        <div class="avatar">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-3"
                 style="height: 80px;" alt="Avatar"/>
        </div>
        <div class="d-flex align-items-center mt-1">
            <button style="color: red;">&#8595</button>
            <p class=" m-1">10</p>
            <button style="color: green;"
            ">&#8593</button>
        </div>
    </div>
    <div class=" col-10">
        <a href="/" class="d-flex align-items-center">
            <h4>{{ question.title }}</h4>
        </a>
        <p>{{ question.text }}</p>
        <div class="d-flex">
            <p class="m-1">Tags:</p>
            <a href="/" class="d-flex m-1">black-jack</a>
            <a href="/" class="d-flex m-1">bender</a>
        </div>
    </div>
</div>

<div class="answer d-flex">
    <div class="col-2 align-items-center">
        <div class="avatar">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-3"
                 style="height: 80px;" alt="Avatar"/>
        </div>
        <div class="d-flex align-items-center mt-1">
            <button style="color: red;">&#8595</button>
            <p class=" m-1">10</p>
            <button style="color: green;"
            ">&#8593</button>
        </div>
    </div>
    <div class=" col-10">
        <p>Guys, I have Trouble with a moon park. Can't find th black-jack...Guys, I have
            Trouble with a moon park. Can't find th black-jack...Guys, I have Trouble with a
            moon park. Can't find th black-jack...Guys, I have Trouble with a moon park.
            Can't find th black-jack...Guys, I have Trouble with a moon park. Can't find th
            black-jack...</p>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Correct!</label>
        </div>
    </div>
</div>

<div class="answer d-flex">
    <div class="col-2 align-items-center">
        <div class="avatar">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-3"
                 style="height: 80px;" alt="Avatar"/>
        </div>
        <div class="d-flex align-items-center mt-1">
            <button style="color: red;">&#8595</button>
            <p class=" m-1">10</p>
            <button style="color: green;"
            ">&#8593</button>
        </div>
    </div>
    <div class=" col-10">
        <p>Guys, I have Trouble with a moon park. Can't find th black-jack...Guys, I
            have
            Trouble with a moon park. Can't find th black-jack...Guys, I have Trouble
            with a
            moon park. Can't find th black-jack...Guys, I have Trouble with a moon park.
            Can't find th black-jack...Guys, I have Trouble with a moon park. Can't find
            th
            black-jack...</p>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Correct!</label>
        </div>
    </div>
</div>


<form class="my-form">
    <div class="form-group d-flex">
                                    <textarea class="form-control" rows="3"
                                              placeholder="Enter your answer here!"></textarea>
    </div>
    <div class="form-group d-flex">
        <button type="submit" class="btn btn-primary">Answer</button>
    </div>
</form>

{% endblock %}