<div class="answer d-flex">
    <div class="col-2 align-items-center">
        <div class="avatar">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-3"
                 style="height: 80px;" alt="Avatar"/>
        </div>
        <div class="d-flex align-items-center mt-1">
            <button style="color: red;">&#8595</button>
            <p class=" m-1">{{ answer.rating }}</p>
            <button style="color: green;">&#8593</button>
        </div>
    </div>
    <div class=" col-10">
        <p>{{ answer.text }}</p>
        <div class="form-check">
            {% if answer.correct %}
                <input class="form-check-input" type="checkbox" id="correct" checked="checked">
                <label class="form-check-label" for="correct">Correct!</label>
            {% else %}
                <input class="form-check-input" type="checkbox" id="wrong">
                <label class="form-check-label" for="wrong">Correct!</label>
            {% endif %}
        </div>
    </div>
</div>