<!--<ul class="pagination">-->
<!--    <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--</ul>-->

<nav aria-label="... ">
    <ul class="pagination pagination ">

        {% if questions.has_previous %}
            {% if questions.previous_page_number > 1 %}
                <li class="page-item "><a class="page-link " href="?page=1">В начало (1)</a></li>
            {% endif %}
            <li class="page-item "><a class="page-link " href="?page={{ questions.previous_page_number }}">Предыдущая ({{ questions.previous_page_number }})</a></li>
        {% endif %}

        <li class="page-item active " aria-current="page ">
            <span class="page-link ">
              {{ questions.number }}
            </span>
        </li>

        {% if questions.has_next %}
            <li class="page-item "><a class="page-link " href="?page={{ questions.next_page_number }}">Следующая ({{ questions.next_page_number }})</a></li>
            {% if questions.next_page_number != questions.paginator.num_pages %}
                <li class="page-item "><a class="page-link " href="?page={{ questions.paginator.num_pages }}">В конец ({{ questions.paginator.num_pages }})</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>