<div class="question d-flex">
    <div class="col-2 align-items-center">
        <div class="avatar">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-3"
                 style="height: 80px;" alt="Avatar"/>
        </div>
        <div class="d-flex align-items-center mt-1">
            <button style="color: red;">&#8595</button>
            <p class=" m-1">{{ question.rating }}</p>
            <button style="color: green;">&#8593</button>
        </div>
    </div>
    <div class=" col-10">
        <a href="{% url 'question' question_id=question.id %}" class="d-flex align-items-center">
            <h4>{{ question.title }}</h4>
        </a>
        <p>{{ question.text }}</p>
        <div class="d-flex">
            <div class="col-3">
<!--                TODO  num of answers!-->
                <a href="{% url 'question' question_id=question.id %}" class="d-flex m-1">answer (2)</a>
            </div>
            <div class="d-flex col-9">
                <p class="m-1">Tags:</p>
                {% for tag in question.tags.all %}
                    {% include 'inc/tag_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>